
{% extends 'base.html' %}

{% block header_text %} 
Hello from app4apps
{% endblock %}

{% block contents %}

Content of the app4apps site

There will have to be radio buttons for each element.
There will be a PUT, by pushing the button
The button grabs the element of the radio button and generates the associated.

Going to implement the text generation as a services layer




<form class="form-horizontal well" role="form" method="POST">
	<div class="btn-group option_type" data-toggle="buttons">
		
	
	  {% for choice in form.option %}
		<label class="btn btn-primary {% if category == choice.choice_value %} active {% endif %} ">
		<input type="radio"  
			{% if category == choice.choice_value  %} checked="checked" {% endif %}
			value={{ choice.choice_value }} 
			name={{ choice.name }} > 
			{{ choice.choice_label }}
		</label>
	  {% endfor %}
	</div>

{% csrf_token %}
  <input type="submit" name="generate" 
  	value="Generate text" id="gen" class="btn btn-primary">

</form>
<!--


<form class="form-horizontal well" role="form" method="POST">
  <div class="btn-group option_type" data-toggle="buttons">
	  <label class="btn btn-primary active">
		  <input type="radio" name="options" id="rbBusiness" value="business">
		  Business
	  </label>
	  <label class="btn btn-primary">
		  <input type="radio" name="options" id="rbEducation" value="education">
		  Education
	  </label>
	  <label class="btn btn-primary">
		  <input type="radio" name="options" id="rbFinance" value="finance">
			Finance
	  </label>
  </div>
  <input type="submit" name="generate" 
  	value="Generate text" id="gen" class="btn btn-primary">

</form>
-->


<p>
check out django docs for rendering form fields manually - this way I can use bootstrap css
</p>


	<p>
		{{ fauxText }}
	</p>


{% endblock %}

