
{% extends 'base.html' %}


<div class="jumbotron">
{% block header_text %} 
App4Apps
{% endblock %}
</div>

{% block contents %}

<div class="container text-center well">
App4Apps is an app idea generator
that uses markov chains to randomly generate an app description. Several of 
the descriptions from the top apps in the Google Play Store are scraped and used 
to generate a new app description based off of probabilities calculated from word 
order and frequency. 
<br>
</div>


<div class="well text-center">
<h4>
Select a category and hit generate to try it out!
</h4>

<div class="text-center well">
  <p>
	{{ fauxText }}
  </p>
</div>



<form class="form-horizontal well" role="form" method="POST">
	<div class="btn-group" data-toggle="buttons">
		
	
	  {% for choice in form.option %}
		<label class="btn btn-primary 
			{% if category == choice.choice_value %} active {% endif %} ">
		<input type="radio"  
			{% if category == choice.choice_value  %} checked="checked" {% endif %}
			value={{ choice.choice_value }} 
			name={{ choice.name }} > 
			{{ choice.choice_label }}
		</label>
	  {% endfor %}
	</div>

{% csrf_token %}
 <br><br>
 
 <input type="submit" name="generate" 
  	value="Generate Text" id="gen" class="btn btn-primary">

</form>
</div>



{% endblock %}

