<!DOCTYPE HTML>
{% extends "layout.html" %}
{% block content %}
<p>App4Apps is an app idea generator developed by Miles Saul and Nathaniel Saul
   that uses markov chains to randomly generate an app description. Several of 
   the descriptions from the top apps in the Google Play Store are scraped and used 
   to generate a new app description based off of probabilities calculated from word 
   order and frequency. Select a category and hit generate to try it out!</p>

<div class="forms">
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.example(class_='categories') }}
    <input class="submit_button" type="submit" title="Generator" value="Generate">
</form>
</div>
<hr>
<h2>Description:</h2>
<p>{{ generated_text }}</p>

</script>
{% endblock %}
