<!DOCTYPE HTML>
<html>
	<head>
    <!--<title>App4Apps</title>-->
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div>	
			<h2>App4Apps</h2><br>
		</div>
		<nav>
			<ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="">Projects <span class="caret"></span></a>
                    <div>
                    <ul>
                    <li><a href="/gen">Generator</a></li>
                    </ul>
                    </div>
                </li>
			</ul>
		</nav>
		<hr>
		{% block content %}
		
		{% endblock %}
	</body>
</html>
